<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EmplyeesDB" connectionString="Server=.;Database=Emplyees;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="FirstWpf.Properties.Settings.EmplyeesConnectionString"
      connectionString="Data Source=DESKTOP-OVEP8RV;Initial Catalog=Emplyees;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>